version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      # Use a hyphen to define this as an item in a list
      - ./config:/mosquitto/config
